/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09.01.2018, 12:58:32
    Author     : ozgeayar
*/

table, th , td {
    border: 1px solid black; 
    border-collapse: collapse;
}
#suchfeld {
    width: 70%; 
}
input {
   
 width: 250px;
  height: 32px;

  background: white;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 3px #000, 0 10px 15px #ebebeb inset;
}
i{
    
     position: relative;
     color: black;
     font-size: 25px;
     
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
body { margin: 30px; }
.search {
  position: relative;
  color: black;
  font-size: 25px;
}

.search input {
  width: 250px;
  height: 32px;

  background: white;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 3px #000, 0 10px 15px #ebebeb inset;
}

.search input { text-indent: 50px;}
.search .fa-search { 
  position: absolute;
  top: 5px;
  left: 10px;
}


.search-plus.fa-search-plus{
  position: absolute;
  top: 5px;
  left: 10px;
}
