/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09.01.2018, 12:58:32
    Author     : ozgeayar
*/
table, th , td {
    border: 1px solid black; 
    border-collapse: collapse;
}

body {
    margin: 30px; 
}
.search {
  position: relative;
  color: black;
  font-size: 25px;
}

.search input {
  width: 25%;
  height: 32px;
  float: left;
  background: white;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 3px #000, 0 10px 15px #ebebeb inset;
}
.searchplus {
  position: relative;
  color: black;
  font-size: 25px;
}
button img{
    width:20px
}
.searchplus button{
  width: fit-content;
  height: 36px;
  float: left;
  background: white;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 3px #000, 0 10px 15px #ebebeb inset;
}
.searchplus .fa-search-plus{ 
  position: absolute;
  top: 5px;
  left: 350px;
}



.filter {
    position: relative;
    color: black;
    font-size: 25px;
}

.filter button {
  width: fit-content;
  height: 36px;
  float: left;
  
  background: white;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 3px #000, 0 10px 15px #ebebeb inset;
}
.filter .fa-filter { 
  position: absolute;
  top: 5px;
 left: 390px;
}