/*/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.01.2018, 13:17:41
    Author     : July
*/
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

div#contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
}
label,input,button{
    margin:5px;
}
