#tb1{
		
		border-style: solid;
		border-width: thin;
		width: 300px;
		height: 100px;
		overflow: scroll;
	}
	#tb2{
		
		border-style: solid;
		border-width: thin;
		width: 300px;
		height: 100px;
		overflow: scroll;
	}
	#tb3{
		
		border-style: solid;
		border-width: thin;
		width: 300px;
		height: 100px;
		overflow: scroll;
	}
	
	#tb4{
		
		border-style: solid;
		border-width: thin;
		width: 300px;
		height: 100px;
		overflow: scroll;
	}
	
	/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.02.2018, 11:30:47
    Author     : vanessa
*/

